body {
    margin: 0;
}

header {
    text-align: center;
    height: 10vh;
}

footer {
    height: 10vh;
}

.mainContent {
    height: fit-content;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.gridRow {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: #2196F3;
    padding: 2rem;
}

.gridRow .laptop {
    padding: 2rem;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.flexRow .laptop {
    padding: 2rem;
    height: fit-content;
    flex: 25%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.flexRow .laptop:nth-of-type(1) {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.flexRow .laptop:nth-of-type(2) {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flexRow .laptop:nth-of-type(3) {
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

@media (max-width: 992px) {
    .flexRow .laptop {
        padding: 2rem;
        height: fit-content;
        flex: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    .gridRow {
        grid-template-columns: 100%;
    }
    .gridRow .laptop {
        height: fit-content;
    }
}